h1 {
	font-family: "Roboto", "Open Sans", sans-serif, "Arial";
    font-size: 400%;
    font-weight: 300;
    text-align: center; 
}

#upload {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-size: 100%
}
#info {
}
#image {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#image input[type="text"] {
	width: 100%;
}
#image img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
	}
#footnote {
	text-align: center;
	margin-top: 32px;
}
